<%
@results.each do |line|

  line.gsub!(DELETE_PREFIX, "")
  link = LINK_PREFIX + line
  line.gsub!(/(#{@query})/i, "<span style=\"color:green;\">"+'\1'+"</span>")
  %>
	<%= line %>
	<% if File.extname(line) != "" %>
	  &nbsp; <a href="<%=h link %>">download</a>
	<% end %>
	<br/>

<% end %>