<%
@results.each do |line|

  # skip hidden files
  if !HIDDEN_FILES && File.basename(line).start_with?(".")
    next
  end

  # remove trailing newline
  line.chomp!

  # remove prefix
  line.gsub!(DELETE_PREFIX, "")

  # add prefix for download
  download_link = LINK_PREFIX + line

  # add highlighting
  display_line = line.gsub(/(#{@query})/i, "<span style=\"color:green;\">"+'\1'+"</span>")
  %>
	<%= display_line %>

	<% if File.directory?(line) %>
	  <% smb_link = SMB_PREFIX + line %>
	  &nbsp; <a href="<%=h smb_link %>">FM</a>
	<% else %>
	  <% smb_link = SMB_PREFIX + File.dirname(line) %>
	  &nbsp; <a href="<%=h download_link %>">DL</a> &nbsp; <a href="<%=h smb_link %>">FM</a>
	<% end %>
	<br/>

<% end %>
