<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>weblocate</title>
<%= javascript_include_tag :defaults %>
</head>
<body style="font-family:Helvetica,sans-serif;">

<h1><img src="images/search_large.png" border="0" height="70px" align="bottom" alt="weblocate" /> weblocate</h1>

This is a web interface for the well-known search tool 'locate'. Type a file or directory name into the search box and wait for the results.<br />
Downloading a file requires authenticaton and means that you have your own local copy.<br /><br /><br />

<strong>Search for:</strong>
<br />

<%= text_field('post', 'title') %> &nbsp; <img id="spinner" name="spinner" src="images/spinner.gif" style="display:none;" />
<%= observe_field('post_title',
  :frequency => 4,
  :update => 'results',
  :complete => "Element.hide('spinner')",
  :before => "Element.show('spinner')",
  :url => { :controller => 'search', :action=> 'ajax_search' },
  :with => "'search=' + escape(value)") %>
<br /><br /><br />

<div id="results" style="width:100%; height:100%">
Type above to start search.
</div>

<br />

</body>
</html>